# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore IntelliJ IDEA files (for now, some of these can and should be shared)
.idea

*.hprof

.settings
.project

bin
.classpath